<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.goods.mapper.ProductMapper">
    <select id="listProductByGoodsId" parameterType="Integer" resultType="xmu.oomall.goods.domain.Product">
            select *

            from product where goodsId = #{goodsId}
    </select>

    <insert id="addProductByGoodsId" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        insert into product (goodsId,product_ids,pic_url,specifications,price,safety_stock,gmt_create,gmt_modified,is_deleted)
        values (#{goodsId}, #{productIds},
        #{picUrl}, #{specifications},
        #{price}, #{saftyStock},
        #{gmtCreate}, #{gmtModified},#{beDeleted})
    </insert>

    <update id="updateProductById" parameterType="Product">
        update product
        <trim prefix="set" suffixOverrides=",">
            <if test="goodsId !=null"> goodsId =#{goodsId},</if>
            <if test="productIds !=null"> product_ids = #{productIds},</if>
            <if test="picUrl!=null"> pic_url = #{picUrl},</if>
            <if test="specifications !=null"> specifications = #{specifications},</if>
            <if test="price !=null"> price = #{price},</if>
            <if test="saftyStock!=null">safety_stock = #{saftyStock},</if>
            <if test="gmtCreate!=null">gmtCreate = #{gmtCreate},</if>
            <if test="gmtModified!=null">gmtModified = #{gmtModified},</if>
            <if test="beDeleted!=null"> is_deleted = #{beDeleted},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <update id="deleteProductById" parameterType="Integer">
        update product
        set is_deleted=1
        where id=#{id};
    </update>


    <select id="getGoodsPoById" parameterType="Integer" resultType="xmu.oomall.goods.domain.GoodsPo">
        select *
        from oomall_goods
        where id=#{id}
    </select>

</mapper>