<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.ad.mapper.AdMapper">
    <select id="findAdById" parameterType="Integer" resultType="ad">
            select id,
                   link,
                   name,
                   content,
                   pic_url,
                   is_default,
                   is_enabled,
                   start_time,
                   end_time,
                   gmt_create,
                   gmt_modified,
                   is_deleted

            from ad where id = #{id}
    </select>

    <select id="adminFindAllAds" resultType="ad">
        select *
        from ad
    </select>

    <select id="findAdsDefault" resultType="ad">
        select *
        from ad where is_default=1;
    </select>

    <select id="findAllAds" resultType="ad">
        select *
        from ad
        where is_deleted = 0
    </select>

    <update id="deleteAdbyId" parameterType="Integer">
        update ad
        set is_deleted = 1
        where id=#{id}
    </update>

    <select id="findDefaultAds" resultType="ad">
        select *
        from ad
        where is_default=1 and is_deleted = 0
    </select>

    <insert id="addAds" parameterType="Ad" useGeneratedKeys="true" keyProperty="id">
        insert into ad (link, name, content,
        pic_url, is_default, is_enabled,
        start_time, end_time,gmt_create,
        gmt_modified,is_deleted)
        values (#{link}, #{name}, #{content},
        #{picUrl},#{beDefault},#{beEnable},
        #{startTime}, #{endTime}, #{gmtCreate},
        #{gmtModified}, #{isDeleted})
    </insert>

    <update id="updateAdById" parameterType="Ad" >
        update ad
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="link!=null">link=#{link},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="picUrl!=null">pic_url=#{picUrl},</if>
            <if test="beDefault!=null">is_default=#{beDefault},</if>
            <if test="beEnable!=null">is_enabled=#{beEnable},</if>
            <if test="startTime!=null">start_time=#{startTime},</if>
            <if test="endTime!=null">end_time=#{endTime},</if>
            <if test="gmtCreate!=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified!=null">gmt_modified=#{gmtModified},</if>
            <if test="isDeleted!=null">is_deleted=#{isDeleted},</if>
        </trim>
        WHERE id=#{id}
    </update>

<!--    <select id="findUserAds" parameterType="date" resultType="Ad">-->
<!--        select * from ad-->
<!--        where #{now} between start_time and end_time-->
<!--    </select>-->
</mapper>