<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.address.mapper.AddressMapper">

    <select id="adminFindUserAddress" resultType="xmu.oomall.address.domain.Address">
        select *
        from oomall_address
        where
        <if test="userId!=null and name!=''">
            (user_id=#{userId} and consignee=#{name}) and
        </if>
        <if test="userId!=null and name ==''">
            (user_id=#{userId}) and
        </if>
        true
    </select>

    <select id="getUserAddressList" resultType="xmu.oomall.address.domain.Address" parameterType="Integer">
        select *
        from oomall_address
        where user_id= #{userId}
    </select>


    <insert id="addNewAddress" parameterType="xmu.oomall.address.domain.Address" useGeneratedKeys="true" keyProperty="id">
      insert into oomall_address (gmt_create, gmt_modified, is_deleted,
        county_id, province_id, city_id,
        address_detail, postal_code,consignee,
        mobile, is_default, user_id)
        values (#{gmtCreate}, #{gmtModified}, #{beDeleted},
        #{countyId}, #{provinceId}, #{cityId},
        #{addressDetail}, #{postalCode},#{consignee},
        #{mobile},#{beDefault},#{userId})
    </insert>

    <update id="updateAddress"  parameterType="xmu.oomall.address.domain.Address" >
        update oomall_address
        <trim prefix="set" suffixOverrides=",">
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="beDeleted != null">
                is_deleted = #{beDeleted},
            </if>
            <if test="countyId != null">
                county_id = #{countyId},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId},
            </if>
            <if test="cityId != null">
                city_id = #{cityId},
            </if>
            <if test="addressDetail != null">
                address_detail = #{addressDetail},
            </if>
            <if test="postalCode != null">
                postal_code = #{postalCode},
            </if>
            <if test="mobile != null">
                mobile=#{mobile},
            </if>
            <if test="beDefault ==true">
                is_default=1,
            </if>
            <if test="beDefault ==false">
                is_default=0,
            </if>
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="consignee != null">
                consignee=#{consignee},
            </if>
            <if test="beDeleted == true">
                is_deleted=1,
            </if>

        </trim>
        where id=#{id}
    </update>
    <update id="setDefaultAddress">


    </update>

    <resultMap id="AddressPoResultMap" type="xmu.oomall.address.domain.Address">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="beDeleted" column="is_deleted"/>
        <result property="countyId" column="county_id"/>
        <result property="provinceId" column="province_id"/>
        <result property="cityId" column="city_id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="postalCode" column="postal_code"/>
        <result property="addressDetail" column="address_detail"/>
        <result property="mobile" column="mobile"/>
        <result property="beDefault" column="is_default"/>
        <result property="consignee" column="consignee"/>
    </resultMap>

    <select id="getAddressDetail" resultMap="AddressPoResultMap" parameterType="Integer">
        select *
        from oomall_address
        where id=#{id}
    </select>

    <select id="getRegion" resultType="xmu.oomall.address.domain.Region">
        select *
        from oomall_region
        where id=#{id}
    </select>

</mapper>