<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.address.mapper.AddressMapper">

    <select id="adminFindUserAddress" resultType="xmu.oomall.address.domain.Address">
        select *
        from oomall_address
        where
        <if test="userId!=null and name!=''">
            (user_id=#{userId} and consignee=#{name}) and
        </if>
        <if test="userId!=null and name ==''">
            (user_id=#{userId}) and
        </if>
        true
    </select>

    <select id="getUserAddressList" resultType="xmu.oomall.address.domain.Address" parameterType="Integer">
        select *
        from oomall_address
        where user_id= #{userId}
    </select>


    <insert id="addNewAddress" parameterType="xmu.oomall.address.domain.Address" useGeneratedKeys="true" keyProperty="id">
      insert into oomall_address (gmt_create, gmt_modified, is_deleted,
        county_id, province_id, city_id,
        address_detail, postal_code,consignee,
        mobile, is_default, user_id)
        values (#{gmtCreate}, #{gmtModified}, #{beDeleted},
        #{countyId}, #{provinceId}, #{cityId},
        #{addressDetail}, #{postalCode},#{consignee},
        #{mobile},#{beDefault},#{userId})
    </insert>

    <delete id="deleteAddress" parameterType="integer">
        delete from oomall_address
        where id=#{id}
    </delete>

    <update id="updateAddress"  parameterType="xmu.oomall.address.domain.Address" >
        update oomall_address
        <trim prefix="set" suffixOverrides=",">
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="beDeleted != null">
                is_deleted = #{beDeleted},
            </if>
            <if test="county != null">
                county = #{county},
            </if>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="addressDetail != null">
                address_detail = #{addressDetail},
            </if>
            <if test="postalCode != null">
                postal_code = #{postalCode},
            </if>
            <if test="mobile != null">
                mobile=#{mobile},
            </if>
            <if test="beDefault != null">
                is_default=#{beDefault},
            </if>
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="countyId != null">
                county_id=#{countyId},
            </if>
        </trim>
        where id=#{id}
    </update>

    <select id="getAddressDetail" resultType="xmu.oomall.address.domain.Address" parameterType="Integer">
        select *
        from oomall_address
        where id=#{id}
    </select>

</mapper>