<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.AdMapper">
    <select id="findAdById" parameterType="Integer" resultType="ad">
            select id,
                   link,
                   name,
                   content,
                   pic_url,
                   is_default,
                   is_enabled,
                   start_time,
                   end_time,
                   gmt_create,
                   gmt_modified,
                   is_deleted

            from ad where id = #{id}
    </select>

    <select id="findAdsDefault" resultType="ad">
        select *
        from ad where is_default=1;
    </select>

    <select id="findAllAds" resultType="ad">
        select *
        from ad;
    </select>

    <delete id="deleteAdbyId" parameterType="Integer">
        delete from ad where id = #{id};
    </delete>

    <insert id="addAds" parameterType="Ad">
        insert into ad
        values (#{id}, #{link}, #{name},
        #{content}, #{picUrl}, #{beDefault},
        #{beEnable}, #{startTime}, #{endTime},
        #{gmtCreate}, #{gmtModified},#{isDeleted})
    </insert>

    <update id="updateAdById" parameterType="Ad" >
        update ad
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="link!=null">link=#{link},</if>
            <if test="content!=null">content=#{content},</if>
        </trim>
        WHERE id=#{id}
    </update>
</mapper>