<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.BrandMapper">
    <insert id="addBrand" parameterType="Brand" useGeneratedKeys="true" keyProperty="id">
        insert into brand (name,`describe`,pic_url,gmt_create,gmt_modified,is_deleted)
        values (#{name},#{describe},#{picUrl},#{gmtCreate},#{gmtModified},#{isDeleted})
    </insert>

    <update id="updateBrand" parameterType="Brand">
        update brand
        <trim prefix="set" suffixOverrides=",">
            <if test="name !=null">
                `name` = #{name},
            </if>
            <if test="describe !=null">
                `describe` = #{describe},
            </if>
            <if test="picUrl !=null">
                pic_url = #{picUrl},
            </if>
            <if test="gmtCreate !=null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified !=null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="isDeleted !=null">
                is_deleted = #{isDeleted},
            </if>
        </trim>
        where id=#{id}
    </update>

    <update id="deleteBrand" parameterType="Brand">
        update brand
        set is_deleted=1
        where id=#{id};
    </update>

    <select id="findBrandById" resultType="Brand" parameterType="Integer">
        select *
        from brand
        where id= #{id};
    </select>

    <select id="listBrandByCondition"  parameterType="Brand" resultType="Brand">
        select id,`name`,description,pic_url,gmt_create,gmt_modified,is_deleted
        from brand
        <where>
        <if test="id !=null">
                id = #{id}
        </if>
        <if test="name !=null">
                and `name` like CONCAT('%',#{name},'%')
        </if>
        </where>
    </select>
</mapper>