<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.CouponMapper">

    <select id="findCouponById" parameterType="Integer" resultType="coupon">
            select *
                    from coupon where id = #{id}
    </select>

    <select id="findCouponRuleById" parameterType="Integer" resultType="couponRulePo">
            select *
                    from coupon_rule where id = #{id}
    </select>


</mapper>