<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.GoodsMapper">

    <select id="findGoodsById" resultType="goodsInfo" parameterType="Integer">
        select *
        from goodsInfo where id = #{id}
    </select>

    <select id="findProductById" resultType="product" parameterType="Integer">
        select id,
           product_sn,
           product_property,
           stock,
           retail_price,
           purchase_price,
           add_time,
           update_time,
           be_deleted,
           goodsId
        from product where id = #{id}
    </select>

    <select id="findPromotionByGoodsId" resultType="promotionPo" parameterType="Integer">
        select id, begin_time, end_time, promotion_sn, pay_strategy, add_time, update_time, be_deleted, descr
        from promotion
        where goodsId = #{id}
    </select>

    <select id="getStock" resultType="Integer" parameterType="Integer">
        select stock
        from product where id = #{id}
    </select>

    <update id="updateProduct" parameterType="product">
        update product
        <trim prefix="set" suffixOverrides=",">
            <if test="productSn!=null">product_sn=#{productSn},</if>
            <if test="productProperty!=null">product_property=#{productProperty},</if>
            <if test="stock!=null">stock=#{stock},</if>
            <if test="retailPrice!=null">retail_price=#{retailPrice},</if>
            <if test="purchasePrice!=null">purchase_price=#{purchasePrice},</if>
            <if test="addTime!=null">add_time=#{addTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="beDeleted!=null">be_delete=#{beDeleted},</if>
            <if test="goodsId!=null">goodsId=#{goodsId},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <update id="updateGoodsById"  parameterType="Goods" >
        update goodsInfo
        <trim prefix="set" suffixOverrides=",">
            <if test="gmtCreate !=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified !=null">gmt_modified=#{gmtModified},</if>
            <if test="name !=null">`name`=#{name},</if>
            <if test="nameSn !=null">good_sn=#{nameSn},</if>
            <if test="shortName !=null">short_name=#{shortName},</if>
            <if test="description !=null">description=#{description},</if>
            <if test="brief !=null">brief=#{brief},</if>
            <if test="picUrl !=null">pic_url=#{picUrl},</if>
            <if test="detail !=null">detail=#{detail},</if>
            <if test="statusCode !=null">statusCode=#{statusCode},</if>
            <if test="shareUrl !=null">share_url=#{shareUrl},</if>
            <if test="gallery !=null">gallery=#{gallery},</if>
            <if test="goodsCategoryId !=null">goods_category_ids=#{goodsCategoryId},</if>
            <if test="brandId !=null">brand_id=#{brandId},</if>
            <if test="weight !=null">weight=#{weight},</if>
            <if test="volume !=null">volume=#{volume},</if>
            <if test="specialFreightId !=null">special_freight_id=#{specialFreightId},</if>
            <if test="isSpecial !=null">is_special=#{isSpecial},</if>
            <if test="beDeleted !=null">is_deleted=#{beDeleted},</if>
        </trim>
        where id=#{id}
    </update>

    <select id="getGoodList" resultType="xmu.oomall.domain.goods.Goods">
        select *
        from goodsInfo;
    </select>

    <insert id="addGoods" parameterType="Goods">
        insert into goodsInfo
        values (#{id}, #{gmtCreate}, #{gmtModified},
                #{name}, #{nameSn}, #{shortName},
                #{description}, #{brief}, #{picUrl},
                #{detail}, #{statusCode},#{shareUrl},#{gallery},
                #{goodsCategoryId},#{brandId},
                #{weight},#{volume},#{specialFreightId},#{isSpecial},#{beDeleted})
    </insert>

    <delete id="deleteGoodsbyId" parameterType="Integer">
        delete from goodsInfo where id=#{id};
    </delete>

<!--    关于商品分类的数据库操作   -->
    <select id="getAllGoodsCategories" resultType="GoodsCategory">
        select *
        from goods_category;
    </select>

    <insert id="addNewCategory" parameterType="GoodsCategory">
        insert into goods_category
        values (
        #{id},#{name},#{pid},#{gmtCreate}, #{gmtModified},#{beDeleted}
        )
    </insert>

    <update id="updateCategory"  parameterType="GoodsCategory" >
        update goods_category
        <trim prefix="set" suffixOverrides=",">
            <if test="gmtCreate !=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified !=null">gmt_modified=#{gmtModified},</if>
            <if test="name !=null">name=#{name},</if>
            <if test="beDelete !=null">is_deleted=#{beDelete},</if>
            <if test="pid !=null">pid=#{pid},</if>
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteCategoryById" parameterType="Integer">
        delete from goods_category where id=#{id};
    </delete>

    <select id="getCategoryById" resultType="GoodsCategory" parameterType="Integer">
        select *
        from goods_category
        where id=#{id};
    </select>

    <select id="getFirstLevelCategories" resultType="GoodsCategory">
        select *
        from goods_category
        where pid is null;
    </select>

    <select id="getSecondLevelCategories" parameterType="Integer" resultType="GoodsCategory">
        select *
        from goods_category
        where pid=#{id};
    </select>

    <select id="getGoodsByCategoryId" parameterType="Integer" resultType="Goods">
        select *
        from goodsInfo
        where goods_category_ids=#{id};
    </select>

</mapper>