<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.GoodsMapper">

    <select id="findGoodsById" resultType="goods" parameterType="Integer">
        select *
        from goods where id = #{id}
    </select>

    <select id="findProductById" resultType="product" parameterType="Integer">
        select id,
           product_sn,
           product_property,
           stock,
           retail_price,
           purchase_price,
           add_time,
           update_time,
           be_deleted,
           goods_id
        from product where id = #{id}
    </select>

    <select id="findPromotionByGoodsId" resultType="promotionPo" parameterType="Integer">
        select id, begin_time, end_time, promotion_sn, pay_strategy, add_time, update_time, be_deleted, descr
        from promotion
        where goods_id = #{id}
    </select>

    <select id="getStockInDB" resultType="Integer" parameterType="Integer">
        select stock
        from product where id = #{id}
    </select>

    <update id="updateProduct" parameterType="product">
        update product
        <trim prefix="set" suffixOverrides=",">
            <if test="productSn!=null">product_sn=#{productSn},</if>
            <if test="productProperty!=null">product_property=#{productProperty},</if>
            <if test="stock!=null">stock=#{stock},</if>
            <if test="retailPrice!=null">retail_price=#{retailPrice},</if>
            <if test="purchasePrice!=null">purchase_price=#{purchasePrice},</if>
            <if test="addTime!=null">add_time=#{addTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="beDelete!=null">be_delete=#{beDelete},</if>
            <if test="goodsId!=null">goods_id=#{goodsId},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <update id="updateGoodsbyId"  parameterType="Goods" >
        update goods
        <trim prefix="set" suffixOverrides=",">
            <if test="gmtcreate !=null">gmt_create=#{gmtcreate},</if>
            <if test="gmtmodified !=null">gmt_modified=#{gmtmodified},</if>
            <if test="name !=null">name=#{name},</if>
            <if test="goodsn !=null">good_sn=#{goodsn},</if>
            <if test="shortname !=null">short_name=#{shortname},</if>
            <if test="description !=null">description=#{description},</if>
            <if test="brief !=null">brief=#{brief},</if>
            <if test="picurl !=null">pic_url=#{picurl},</if>
            <if test="detail !=null">detail=#{detail},</if>
            <if test="status !=null">status=#{status},</if>
            <if test="shareurl !=null">share_url=#{shareurl},</if>
            <if test="gallery !=null">gallery=#{gallery},</if>
            <if test="goodscategoryids !=null">goods_category_ids=#{goodscategoryids},</if>
            <if test="brandid !=null">brand_id=#{brandid},</if>
            <if test="isdeleted !=null">is_deleted=#{isdeleted},</if>
            <if test="weight !=null">weight=#{weight},</if>
            <if test="volume !=null">volume=#{volume},</if>
            <if test="specialfreightid !=null">special_freight_id=#{specialfreightid},</if>
            <if test="isspecial !=null">is_special=#{isspecial},</if>
        </trim>
        where id=#{id}
    </update>

    <select id="getGoodList" resultType="Goods">
        select *
        from goods;
    </select>

    <insert id="addGoods" parameterType="Goods">
        insert into goods
        values (#{id}, #{gmtCreate}, #{gmtModified},
                #{name}, #{nameSn}, #{shortName},
                #{description}, #{brief}, #{picUrl},
                #{detail}, #{status},#{shareUrl},#{gallery},
                #{goodsCategoryId},#{brandId},
                #{weight},#{volume},#{specialFreightId},#{beSpecial},#{beDeleted})
    </insert>

    <delete id="deleteGoodsbyId" parameterType="Integer">
        delete from goods where id=#{id};
    </delete>

<!--    关于商品分类的数据库操作   -->
    <select id="getAllGoodsCategories" resultType="GoodsCategory">
        select *
        from goods_category;
    </select>

    <insert id="addNewCategory" parameterType="GoodsCategory">
        insert into goods_category
        values (
        #{id},#{name},#{pid},#{gmtCreate}, #{gmtModified},#{beDelete}
        )
    </insert>

    <update id="updateCategory"  parameterType="GoodsCategory" >
        update goods_category
        <trim prefix="set" suffixOverrides=",">
            <if test="gmtCreate !=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified !=null">gmt_modified=#{gmtModified},</if>
            <if test="name !=null">name=#{name},</if>
            <if test="beDelete !=null">is_deleted=#{beDelete},</if>
            <if test="pid !=null">pid=#{pid},</if>
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteCategoryById" parameterType="Integer">
        delete from goods_category where id=#{id};
    </delete>

    <select id="getCategoryById" resultType="GoodsCategory" parameterType="Integer">
        select *
        from goods_category
        where id=#{id};
    </select>

    <select id="getFirstLevelCategories" resultType="GoodsCategory">
        select *
        from goods_category
        where pid is null;
    </select>

    <select id="getSecondLevelCategories" parameterType="Integer" resultType="GoodsCategory">
        select *
        from goods_category
        where pid=#{id};
    </select>

    <select id="getGoodsByCategoryId" parameterType="Integer" resultType="Goods">
        select *
        from goods
        where goods_category_ids=#{id};
    </select>

</mapper>