<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.PresaleRuleMapper">

    <select id="findPresaleRuleById" resultType="PresaleRule" parameterType="Integer">
        select *
        from presale_rule
        where id= #{id}
    </select>

    <update id="updateById"  parameterType="PresaleRule" >
        update presale_rule
        <trim prefix="set" suffixOverrides=",">
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="beDeleted != null">
                is_deleted = #{beDeleted},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="statusCode != null">
                statusCode = #{statusCode},
            </if>
            <if test="grouponLevelStrategy != null">
                strategy=#{strategy},
            </if>
            <if test="goodsId != null">
                product_id=#{goodsId},
            </if>
            <if test="deposit != null">
                deposit=#{deposit},
            </if>
        </trim>
        where id=#{id}
    </update>

    <insert id="add" parameterType="PresaleRule" useGeneratedKeys="true" keyProperty="id">
        insert into presale_rule (gmt_create, gmt_modified, is_deleted,
        start_time, end_time, statusCode,
        strategy, product_id, deposit)
        values (#{gmtCreate}, #{gmtModified}, #{beDeleted},
        #{startTime}, #{endTime}, #{statusCode},
        #{strategy}, #{goodsId}, #{deposit})
    </insert>

    <delete id="delete" parameterType="PresaleRule">
        delete from presale_rule  where id=#{id};
    </delete>

</mapper>