<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.footprint.mapper.FootprintMapper">

    <select id="getUserFootprintList" resultType="xmu.oomall.footprint.domain.FootprintItem" parameterType="Integer">
        select *
        from oomall_footprint_item
        where user_id= #{userId}
    </select>

    <insert id="addFootprint" parameterType="xmu.oomall.footprint.domain.FootprintItem" useGeneratedKeys="true" keyProperty="id">
      insert into oomall_footprint_item
      (gmt_create, birth_time,user_id,goods_id)
        values (#{gmtCreate}, #{birthTime},#{userId},#{goodsId});
    </insert>

    <delete id="deleteFootprint" parameterType="integer">
        delete from oomall_footprint_item
        where id=#{id};
    </delete>

    <!--根据条件：商品名/用户名，查找足迹-->
    <resultMap id="footprintItemResultMap" type="xmu.oomall.footprint.domain.FootprintItem">
        <id property="id" column="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="birthTime" column="birth_time"/>
        <result property="userId" column="user_id"/>
        <result property="goodsId" column="goods_id"/>
    </resultMap>
<!--    <select id="listFootprintByCondition" resultMap="footprintItemResultMap">-->
<!--        select oomall_footprint_item.id,-->
<!--        oomall_footprint_item.gmt_create,-->
<!--        oomall_footprint_item.birth_time,-->
<!--        oomall_footprint_item.user_id,-->
<!--        oomall_footprint_item.goods_id-->
<!--        from oomall_footprint_item,oomall_goods,oomall_user-->
<!--        where-->
<!--        <if test="goodsName!=null and goodsName!=''">-->
<!--            (oomall_footprint_item.goods_id=(select oomall_goods.id from oomall_goods where oomall_goods.name=#{goodsName})) and-->
<!--        </if>-->
<!--        <if test="userName!=null and userName!=''">-->
<!--            (oomall_footprint_item.user_id=(select oomall_user.id from oomall_user where oomall_user.name=#{userName})) and-->
<!--        </if>-->
<!--        true-->
<!--        order by oomall_footprint_item.birth_time desc-->
<!--    </select>-->

        <select id="listFootprintByCondition" resultMap="footprintItemResultMap">
            select oomall_footprint_item.id,
            oomall_footprint_item.gmt_create,
            oomall_footprint_item.birth_time,
            oomall_footprint_item.user_id,
            oomall_footprint_item.goods_id
            from oomall_footprint_item,oomall_goods,oomall_user
            where
            <if test="goodsName!=null and goodsName!=''">
                (oomall_footprint_item.goods_id=#{goodsId}) and
            </if>
            <if test="userName!=null and userName!=''">
                (oomall_footprint_item.user_id=#{userId}) and
            </if>
            true
            order by oomall_footprint_item.birth_time desc
        </select>

</mapper>