<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.discount.mapper.CouponMapper">


    <select id="findCouponRuleById" parameterType="Integer" resultMap="couponRuleType">
            select *
                    from oomall_coupon_rule where id = #{id}
    </select>


    <insert id="addCouponRule" parameterType="couponRulePo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_coupon_rule(name,brief,begin_time,end_time,pic_url,valid_period,strategy,goods_list1,goods_list2,gmt_create,gmt_modified,is_deleted)
        values (#{name},#{brief},#{beginTime},#{endTime},#{picUrl},#{validPeriod},#{strategy},#{goodsList1},#{goodsList2},#{gmtCreate},#{gmtModified},#{beDeleted})
    </insert>

    <insert id="addCoupon" parameterType="couponPo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_coupon(user_id,coupon_rule_id,coupon_sn,begin_time,end_time,used_time,name,pic_url,gmt_create,gmt_modified,is_deleted,status)
        values (#{userId},#{couponRuleId},#{couponSn},#{beginTime},#{endTime},#{usedTime},#{name},#{picUrl},#{gmtCreate},#{gmtModified},#{beDeleted},#{statusCode})
    </insert>

    <select id="getCouponList" resultMap="couponRuleType">
        select *
        from oomall_coupon_rule;
    </select>

    <delete id="deleteCouponRuleById" parameterType="Integer">
        update oomall_coupon_rule set is_deleted=1 where id = #{id};
    </delete>

    <update id="updateCouponRuleById" parameterType="couponRulePo" >
        update oomall_coupon_rule
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="brief!=null">brief=#{brief},</if>
            <if test="beginTime!=null">begin_time=#{beginTime},</if>
            <if test="endTime!=null">end_time=#{endTime},</if>
            <if test="picUrl!=null">pic_url=#{picUrl},</if>
            <if test="validPeriod!=null">validPeriod=#{validPeriod},</if>
            <if test="strategy!=null">strategy=#{strategy},</if>
            <if test="total!=null">total=#{total},</if>
            <if test="goodsList1!=null">goods_list1=#{goodsList1},</if>
            <if test="goodsList2!=null">goods_list2=#{goodsList2},</if>
            <if test="gmtCreate!=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified!=null">gmt_modified=#{gmtModified},</if>
            <if test="beDeleted!=null">is_deleted=#{beDeleted},</if>
            <if test="collectedNum!=null">collected_num=#{collectedNum}</if>
            <if test="status!=null">status=#{statusCode}</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="getCouponMyList" parameterType="Integer" resultMap="couponType">
        select *
        from oomall_coupon where user_id=#{userId} and statusCode=0;
    </select>

    <select id="getProductId" parameterType="Integer" resultType="Integer">
        select product_id
        from oomall_cart_item where id=#{itemId};
    </select>

    <select id="getGoodsId" parameterType="Integer" resultType="Integer">
        select goods_id
        from oomall_product where id=#{goodsId};
    </select>

    <select id="getCouponRule" parameterType="Integer" resultMap="couponRuleType">
        select *
        from oomall_coupon_rule where id=#{couponRuleId};
    </select>

    <select id="findCouponById" parameterType="Integer" resultMap="couponType">
        select * from oomall_coupon where id = #{id}
    </select>

    <select id="getProductPrice" parameterType="Integer" resultType="BigDecimal">
        select price from oomall_product where id = #{goodsId}
    </select>

    <update id="updateCouponStatus" parameterType="Integer" >
        update oomall_coupon
        set status=1 where coupon_rule_id = #{id};
    </update>

    <resultMap id="couponType" type="xmu.oomall.discount.domain.coupon.CouponPo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="coupon_rule_id" property="couponRuleId"/>
        <result column="coupon_sn" property="couponSn"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="name" property="name"/>
        <result column="pic_url" property="picUrl"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
        <result column="status" property="statusCode"/>
    </resultMap>

    <resultMap id="couponRuleType" type="xmu.oomall.discount.domain.coupon.CouponRulePo">
        <id column="id" property="id"/>
        <result column="brief" property="brief"/>
        <result column="valid_period" property="validPeriod"/>
        <result column="strategy" property="strategy"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="name" property="name"/>
        <result column="pic_url" property="picUrl"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
        <result column="status" property="statusCode"/>
    </resultMap>

    <select id="findCouponRulesAvailable" resultMap="CouponRuleResultType">
        select *
        from oomall_coupon_rule where is_deleted=0 and status=true;
    </select>

    <resultMap id="CouponRuleResultType" type="xmu.oomall.discount.domain.coupon.CouponRulePo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="brief" property="brief"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="pic_url" property="picUrl"/>
        <result column="valid_period" property="validPeriod"/>
        <result column="strategy" property="strategy"/>
        <result column="total" property="total"/>
        <result column="collected_num" property="collectedNum"/>
        <result column="goods_list1" property="goodsList1"/>
        <result column="goods_list2" property="goodsList2"/>

        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
        <result column="status" property="statusCode"/>
    </resultMap>
</mapper>