<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.discount.mapper.GroupOnRuleMapper">


    <select id="findPromotionByGoodsId" resultType="promotionPo" parameterType="Integer">
        select id, begin_time, end_time, promotion_sn, pay_strategy, add_time, update_time, be_deleted, descr
        from promotion
        where goods_id = #{id}
    </select>

    <select id="findGroupOnRuleById" resultType="GrouponRulePo" parameterType="Integer">
        select *
        from groupon_rule
        where id= #{id}
    </select>


    <update id="updateById"  parameterType="GrouponRulePo" >
        update groupon_rule
        <trim prefix="set" suffixOverrides=",">
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="statusCode != null">
                status = #{statusCode},
            </if>
            <if test="grouponLevelStrategy != null">
                groupon_level_strategy=#{grouponLevelStrategy},
            </if>
            <if test="productId != null">
                goods_id=#{productId},
            </if>
        </trim>
        where id=#{id}
    </update>

    <select id="searchGrouponGoods" resultType="GrouponRulePo" parameterType="Integer">
        select *
        from groupon_rule
        where goods_id=#{goodsId}
    </select>

    <select id="findAvailableGrouponRules" resultType="GrouponRulePo">
        select *
        from groupon_rule
        where status=1 and is_deleted = 0
    </select>

    <insert id="add" parameterType="GrouponRulePo" useGeneratedKeys="true" keyProperty="id">
        insert into groupon_rule (gmt_create, gmt_modified, is_deleted,
        start_time, end_time, status,
        groupon_level_strategy, goods_id)
        values (#{gmtCreate}, #{gmtModified}, #{isDeleted},
        #{startTime}, #{endTime}, #{statusCode},
        #{grouponLevelStrategy}, #{productId})
    </insert>

    <update id="delete" parameterType="GrouponRulePo">
        update groupon_rule
        set is_deleted = 1
        where id=#{id}
    </update>
</mapper>