<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.discount.mapper.GroupOnRuleMapper">

    

    <select id="findGroupOnRuleById" resultMap="GrouponRuleType" parameterType="Integer">
        select *
        from oomall_groupon_rule
        where id= #{id}
    </select>


    <update id="updateById"  parameterType="GrouponRulePo" >
        update oomall_groupon_rule
        <trim prefix="set" suffixOverrides=",">
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="beDeleted != null">
                is_deleted = #{beDeleted},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="statusCode != null">
                statusCode = #{statusCode},
            </if>
            <if test="grouponLevelStrategy != null">
                groupon_level_strategy=#{grouponLevelStrategy},
            </if>
            <if test="goodsId != null">
                goods_id=#{goodsId},
            </if>
        </trim>
        where id=#{id}
    </update>

    <resultMap id="GrouponRuleType" type="xmu.oomall.discount.domain.GrouponRulePo">
        <id column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="beDeleted"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="statusCode" property="statusCode"/>
        <result column="groupon_level_strategy" property="grouponLevelStrategy"/>
        <result column="goods_id" property="goodsId"/>
    </resultMap>

    <select id="searchGrouponGoods" resultMap="GrouponRuleType" parameterType="Integer">
        select *
        from oomall_groupon_rule
        where goods_id=#{goodsId}
    </select>

    <select id="findAvailableGrouponRules" resultMap="GrouponRuleType">
        select *
        from oomall_groupon_rule
        where status=1 and is_deleted = 0
    </select>

    <select id="adminFindGrouponRules" resultMap="GrouponRuleType">
        select *
        from oomall_groupon_rule
        where is_deleted = 0
    </select>

    <select id="findGrouponByGoodsId" parameterType="integer" resultMap="GrouponRuleType">
        select *
        from oomall_groupon_rule
        where goods_id=#{goodsId}
    </select>

    <insert id="add" parameterType="GrouponRulePo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_groupon_rule (gmt_create, gmt_modified, is_deleted,
        start_time, end_time, status,
        groupon_level_strategy, goods_id)
        values (#{gmtCreate}, #{gmtModified}, #{beDeleted},
        #{startTime}, #{endTime}, #{statusCode},
        #{grouponLevelStrategy}, #{goodsId})
    </insert>

    <update id="delete" parameterType="GrouponRulePo">
        update oomall_groupon_rule
        set is_deleted = 1
        where id=#{id}
    </update>
</mapper>